
# - Replace `api_key` with your own credentials.
# - Replace `base_url` and `id` name if you want to use a custom model.
# - A restart is required every time you change the `config.yaml` file.

BASIC_MODEL:
  base_url: https://ark.cn-beijing.volces.com/api/v3
  id: "doubao-1-5-pro-32k-250115"
  api_key: xxxx


REASONING_MODEL:
#   base_url: https://ark-cn-beijing.bytedance.net/api/v3
#   id: "doubao-1-5-thinking-pro-m-250428"
#   api_key: xxxx


SEARCH_CONFIG:
  TAVILY_API_KEY: "xxx"
  JINA_API_KEY: "xxxx"
